/*------------- WAZUH -------------*/
.wz-login {
  background: url(./wazuh_wazuh_bg.svg) !important;
  width: 100% !important;
  height: 100% !important;
  background-size: cover !important;
}

.login-wrapper {
  text-align: center;
  width: 430px!important;
  top: 55px;
  border-radius: 1px;
  padding: 1em;
}

#kibana-body > div > div.app-wrapper.hidden-chrome > div > div.application > div > ul > div.euiText.euiText--medium > div {
  text-align: center;
  padding-bottom: 10px;
  color: #ffffff !important;
  font-size: 35px !important;
  font-weight: 300;
}

#kibana-body > div > div.app-wrapper.hidden-chrome > div > div.application > div > ul > div.euiText.euiText--small > div {
  text-align: center;
  padding-bottom: 15px;
  color: #ffffff !important;
  font-size: 16px !important;
}

#kibana-body > div > div.app-wrapper.hidden-chrome > div > div.application > div > ul > form {
  padding: 16px;
  box-shadow: 0 2px 2px -1px rgba(152, 162, 179, 0.3), 0 1px 5px -2px rgba(152, 162, 179, 0.3);
  background-color: #FFF;
  border: 1px solid #D3DAE6;
  border-radius: 4px;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  margin-top: 32px;
}

.loginWelcome__logo {
  display: inline-block;
  width: 80px;
  height: 80px;
  line-height: 80px;
  text-align: center;
  background-color: #FFF;
  border-radius: 100%;
  padding: 16px;
  box-shadow: 0 6px 12px -1px rgba(152, 162, 179, 0.2), 0 4px 4px -1px rgba(152, 162, 179, 0.2), 0 2px 2px 0 rgba(152, 162, 179, 0.2);
  margin-bottom: 32px;
}

div.euiFormRow > div.euiFormRow__fieldWrapper > button {
  background-color: #00a9e5!important;
  border-color: #00a9e5!important;
  color: #fff;
}

.loginWelcome__logo {
  background: url(./wazuh_logo_circle.svg) center center no-repeat !important;
}
