Source: wazuh-api
Section: admin 
Priority: extra
Maintainer: Wazuh, Inc <support@wazuh.com>
Build-Depends: debhelper (>= 7.0.50~), nodejs (>= 4.6), npm
Standards-Version: 3.8.4
Homepage: http://www.wazuh.com

Package: wazuh-api
Architecture: any
Depends: ${shlibs:Depends}, npm, nodejs (>= 4.6.1), wazuh-manager (>= 1.2)
Description: Wazuh API is an open source RESTful API to interact with OSSEC from your own application or with a simple web browser or tools like cURL.
