*.pem
.vagrant
ova/Config_files/filebeat.yml
*.ova
*.ovf
*.vmdk
*.wpk
*.deb
*.rpm
*.zip
*.tar.gz
*.pkg
*.msi
*.p5p
*.sha512
*.key
*.csr
*.srl
*.pkg.tar.zst
.gradle
.java
stack/indexer/rpm/output
stack/indexer/deb/output
.cache
.m2
wpk/versions
solaris/packer/builds/
solaris/packer/packer-solaris11_3-virtualbox/
solaris/packer/packer-solaris10-virtualbox/
solaris/packer/packer_cache/
solaris/packer/sol-10-u11-ga-x86-dvd.iso
solaris/packer/sol-11_3-text-x86.iso
unattended_installer/certs*
unattended_installer/configurations*
unattended_installer/config.yml
unattended_installer/.vscode
unattended_installer/wazuh-install-files*
unattended_installer/wazuh-install.sh
unattended_installer/wazuh-certs-tool.sh
unattended_installer/wazuh-passwords-tool.sh
unattended_installer/wazuh-passwords.txt
tests/unattended/unit/*.log
output
