#!/usr/bin/make -f
# -*- makefile -*-
# Sample debian/rules that uses debhelper.
#
# This file was originally written by Joey Hess and Craig Small.
# As a special exception, when this file is copied by dh-make into a
# dh-make output file, you may use that output file without restriction.
# This special exception was added by Craig Small in version 0.37 of dh-make.
#
# Modified to make a template file for a multi-binary package with separated
# build-arch and build-indep targets by Bill Allombert 2001
#
# Modified by Wazuh
# Copyright (C) 2021, Wazuh Inc.
#
# This program is a free software; you can redistribute it
# and/or modify it under the terms of the GNU General Public
# License (version 2) as published by the FSF - Free Software
# Foundation.

# Uncomment this to turn on verbose mode.
export DH_VERBOSE=1

# This has to be exported to make some magic below work.
export DH_OPTIONS

export NAME=wazuh-indexer
export TARGET_DIR=${CURDIR}/debian/${NAME}

# Package build options
export USER=${NAME}
export GROUP=${NAME}
export CONFIG_DIR=/etc/${NAME}
export LOG_DIR=/var/log/${NAME}
export LIB_DIR=/var/lib/${NAME}
export PID_DIR=/run/${NAME}
export SYS_DIR=/usr/lib
export BASE_DIR=${NAME}-*
export INDEXER_FILE=wazuh-indexer-base-$(VERSION)-$(REVISION)-linux-x64.tar.xz
export REPO_DIR=/root/unattended_installer

# -----------------------------------------------------------------------------

%:
	dh $@

# -----------------------------------------------------------------------------

override_dh_shlibdeps:

# -----------------------------------------------------------------------------

override_dh_auto_configure:

# -----------------------------------------------------------------------------

override_dh_auto_install:

# -----------------------------------------------------------------------------

override_dh_install:
	rm -rf $(INSTALLATION_DIR)/
	cp /tmp/$(INDEXER_FILE) ./

	tar -xf $(INDEXER_FILE)

	# Copy to the target
	mkdir -p $(TARGET_DIR)$(INSTALLATION_DIR)
	mkdir -p $(TARGET_DIR)$(CONFIG_DIR)
	mkdir -p $(TARGET_DIR)$(LIB_DIR)
	mkdir -p $(TARGET_DIR)$(LOG_DIR)
	mkdir -p $(TARGET_DIR)/etc/init.d
	mkdir -p $(TARGET_DIR)/etc/default
	mkdir -p $(TARGET_DIR)/usr/lib/tmpfiles.d
	mkdir -p $(TARGET_DIR)/usr/lib/sysctl.d
	mkdir -p $(TARGET_DIR)/usr/lib/systemd/system

	# Move configuration files for wazuh-indexer
	mv -f $(BASE_DIR)/etc/init.d/$(NAME) $(TARGET_DIR)/etc/init.d/$(NAME)
	mv -f $(BASE_DIR)/etc/wazuh-indexer/* $(TARGET_DIR)$(CONFIG_DIR)
	mv -f $(BASE_DIR)/etc/sysconfig/$(NAME) $(TARGET_DIR)/etc/default/
	mv -f $(BASE_DIR)/usr/lib/tmpfiles.d/* $(TARGET_DIR)/usr/lib/tmpfiles.d/
	mv -f $(BASE_DIR)/usr/lib/sysctl.d/* $(TARGET_DIR)/usr/lib/sysctl.d/
	mv -f $(BASE_DIR)/usr/lib/systemd/system/* $(TARGET_DIR)/usr/lib/systemd/system/
	rm -rf $(BASE_DIR)/etc
	rm -rf $(BASE_DIR)/usr

	# Copy installation files to final location
	cp -pr $(BASE_DIR)/* $(TARGET_DIR)$(INSTALLATION_DIR)

	# Build wazuh-certs-tool
	$(REPO_DIR)/builder.sh -c

	# Build wazuh-passwords-tool
	$(REPO_DIR)/builder.sh -p

	# Copy the security tools
	cp $(REPO_DIR)/wazuh-certs-tool.sh $(TARGET_DIR)$(INSTALLATION_DIR)/plugins/opensearch-security/tools/
	cp $(REPO_DIR)/wazuh-passwords-tool.sh $(TARGET_DIR)$(INSTALLATION_DIR)/plugins/opensearch-security/tools/
	cp /root/documentation-templates/wazuh/config.yml $(TARGET_DIR)$(INSTALLATION_DIR)/plugins/opensearch-security/tools/config.yml

	# Copy Wazuh's config files for the security plugin
	cp -pr $(REPO_DIR)/config/indexer/roles/roles_mapping.yml $(TARGET_DIR)$(CONFIG_DIR)/opensearch-security/
	cp -pr $(REPO_DIR)/config/indexer/roles/roles.yml $(TARGET_DIR)$(CONFIG_DIR)/opensearch-security/
	cp -pr $(REPO_DIR)/config/indexer/roles/internal_users.yml $(TARGET_DIR)$(CONFIG_DIR)/opensearch-security/

	cp /root/stack/indexer/indexer-security-init.sh $(TARGET_DIR)$(INSTALLATION_DIR)/bin/

	# Create group and user in chroot environment
	groupadd -r $(GROUP)
	useradd --system \
	--no-create-home \
	--home-dir /nonexistent \
	--gid $(GROUP) \
	--shell /sbin/nologin \
	--comment "$(USER) user" \
	$(USER)

	chown $(USER):$(GROUP) -R $(TARGET_DIR)
	chmod ug+x $(TARGET_DIR)$(INSTALLATION_DIR)/*

	chown $(USER):$(GROUP) $(TARGET_DIR)$(INSTALLATION_DIR)/VERSION
	chmod 440 $(TARGET_DIR)$(INSTALLATION_DIR)/VERSION

# -----------------------------------------------------------------------------

override_dh_fixperms:

	# Set files permissions
	chmod 750 $(TARGET_DIR)$(CONFIG_DIR)
	chown -R $(USER):$(GROUP) $(TARGET_DIR)$(CONFIG_DIR)
	chmod 750 $(TARGET_DIR)$(LIB_DIR)
	chown -R $(USER):$(GROUP) $(TARGET_DIR)$(LIB_DIR)
	chmod 750 $(TARGET_DIR)$(LOG_DIR)
	chown -R $(USER):$(GROUP) $(TARGET_DIR)$(LOG_DIR)


	chmod 660 $(TARGET_DIR)/etc/default/$(NAME)
	chown root:$(GROUP) $(TARGET_DIR)/etc/default/$(NAME)
	chmod 750 $(TARGET_DIR)/etc/init.d/$(NAME)
	chown root:root $(TARGET_DIR)/etc/init.d/$(NAME)
	chmod 640 $(TARGET_DIR)$(SYS_DIR)/sysctl.d/$(NAME).conf
	chown root:root $(TARGET_DIR)$(SYS_DIR)/sysctl.d/$(NAME).conf
	chmod 640 $(TARGET_DIR)$(SYS_DIR)/systemd/system/$(NAME).service
	chown root:root $(TARGET_DIR)$(SYS_DIR)/systemd/system/$(NAME).service
	chmod 640 $(TARGET_DIR)$(SYS_DIR)/systemd/system/$(NAME)-performance-analyzer.service
	chown root:root $(TARGET_DIR)$(SYS_DIR)/systemd/system/$(NAME)-performance-analyzer.service
	chmod 640 $(TARGET_DIR)$(SYS_DIR)/tmpfiles.d/$(NAME).conf
	chown root:root $(TARGET_DIR)$(SYS_DIR)/tmpfiles.d/$(NAME).conf

	chmod 750 $(TARGET_DIR)$(INSTALLATION_DIR)
	chmod 660 $(TARGET_DIR)$(CONFIG_DIR)/jvm.options
	chmod 750 $(TARGET_DIR)$(INSTALLATION_DIR)/modules/aggs-matrix-stats
	chmod 660 $(TARGET_DIR)$(CONFIG_DIR)/opensearch.yml
	chmod 640 $(TARGET_DIR)$(CONFIG_DIR)/opensearch-security/roles_mapping.yml
	chmod 640 $(TARGET_DIR)$(CONFIG_DIR)/opensearch-security/internal_users.yml
	chmod 640 $(TARGET_DIR)$(CONFIG_DIR)/opensearch-security/roles.yml
	chmod 750 $(TARGET_DIR)$(CONFIG_DIR)/jvm.options.d
	chmod 440 $(TARGET_DIR)$(INSTALLATION_DIR)/VERSION
	chmod 750 $(TARGET_DIR)$(INSTALLATION_DIR)/bin/indexer-security-init.sh
	chmod 750 $(TARGET_DIR)$(INSTALLATION_DIR)/bin/systemd-entrypoint
	chmod 740 $(TARGET_DIR)$(INSTALLATION_DIR)/plugins/opensearch-security/tools/audit_config_migrater.sh
	chmod 740 $(TARGET_DIR)$(INSTALLATION_DIR)/plugins/opensearch-security/tools/hash.sh
	chmod 740 $(TARGET_DIR)$(INSTALLATION_DIR)/plugins/opensearch-security/tools/securityadmin.sh
	chmod 740 $(TARGET_DIR)$(INSTALLATION_DIR)/plugins/opensearch-security/tools/wazuh-certs-tool.sh
	chmod 740 $(TARGET_DIR)$(INSTALLATION_DIR)/plugins/opensearch-security/tools/wazuh-passwords-tool.sh
	chmod 750 $(TARGET_DIR)$(INSTALLATION_DIR)/bin/opensearch-performance-analyzer/performance-analyzer-agent-cli
	chmod 750 $(TARGET_DIR)$(INSTALLATION_DIR)/bin/opensearch-performance-analyzer/performance-analyzer-agent

	find "$(TARGET_DIR)$(INSTALLATION_DIR)" -type d -exec chmod 750 {} \;
	find "$(TARGET_DIR)$(INSTALLATION_DIR)" -type f -perm 644 -exec chmod 640 {} \;
	find "$(TARGET_DIR)$(INSTALLATION_DIR)" -type f -perm 664 -exec chmod 660 {} \;
	find "$(TARGET_DIR)$(INSTALLATION_DIR)" -type f -perm 755 -exec chmod 750 {} \;
	find "$(TARGET_DIR)$(INSTALLATION_DIR)" -type f -perm 744 -exec chmod 740 {} \;

# -----------------------------------------------------------------------------

override_dh_strip:
	dh_strip

# -----------------------------------------------------------------------------

.PHONY: override_dh_strip override_dh_auto_clean override_dh_auto_build override_dh_auto_configure
