Source: wazuh-wui
Section: admin
Priority: extra
Maintainer: Wazuh, Inc <info@wazuh.com>
Build-Depends: debhelper (>= 7.0.50~), tar
Standards-Version: 3.8.4
Homepage: https://www.wazuh.com

Package: wazuh-wui
Architecture: any
Depends: debconf, adduser
Conflicts:
Breaks:
Description: Wazuh helps you to gain security visibility into your infrastructure by monitoring hosts at an operating system and application level. It provides the following capabilities: log analysis, file integrity monitoring, intrusions detection and policy and compliance monitoring
