#!/usr/bin/make -f
# -*- makefile -*-
# Sample debian/rules that uses debhelper.
#
# This file was originally written by Joey Hess and Craig Small.
# As a special exception, when this file is copied by dh-make into a
# dh-make output file, you may use that output file without restriction.
# This special exception was added by Craig Small in version 0.37 of dh-make.
#
# Modified to make a template file for a multi-binary package with separated
# build-arch and build-indep targets  by Bill Allombert 2001

# Uncomment this to turn on verbose mode.
export DH_VERBOSE=1

# This has to be exported to make some magic below work.
export DH_OPTIONS

export TARGET_DIR=${CURDIR}/debian/wazuh-wui

# Package build options
export INSTALLATION_DIR="/"

%:
	dh $@

override_dh_shlibdeps:

override_dh_auto_configure:

override_dh_auto_install:

override_dh_install:
	curl https://d3g5vo6xdbdb9a.cloudfront.net/tarball/opendistroforelasticsearch-kibana/opendistroforelasticsearch-kibana-1.13.1-linux-x64.tar.gz -o opendistroforelasticsearch-kibana-1.13.1-linux-x64.tar.gz

	groupadd wazuh-wui
	useradd -g wazuh-wui wazuh-wui

	tar -xf opendistroforelasticsearch-kibana-1.13.1-linux-x64.tar.gz

	mkdir -p ${TARGET_DIR}/${INSTALLATION_DIR}/etc/wazuh-wui/certs
	mkdir -p ${TARGET_DIR}/${INSTALLATION_DIR}/usr/share/wazuh-wui
	mkdir -p ${TARGET_DIR}/${INSTALLATION_DIR}/etc/systemd/system
	mkdir -p ${TARGET_DIR}/${INSTALLATION_DIR}/etc/init.d

	mv opendistroforelasticsearch-kibana/config/* ${TARGET_DIR}/${INSTALLATION_DIR}/etc/wazuh-wui
	mv opendistroforelasticsearch-kibana/* ${TARGET_DIR}/${INSTALLATION_DIR}/usr/share/wazuh-wui

	mv /tmp/config/wazuh-wui.yml ${TARGET_DIR}/${INSTALLATION_DIR}/etc/wazuh-wui/wazuh-wui.yml
	rm -f ${TARGET_DIR}/${INSTALLATION_DIR}/etc/wazuh-wui/kibana.yml


	cp /tmp/services/wazuh-wui.service ${TARGET_DIR}/${INSTALLATION_DIR}/etc/systemd/system/wazuh-wui.service 
	cp /tmp/services/wazuh-wui ${TARGET_DIR}/${INSTALLATION_DIR}/etc/init.d/wazuh-wui
	cp /tmp/services/default ${TARGET_DIR}/${INSTALLATION_DIR}/etc/default/wazuh-wui

	chmod 644 ${TARGET_DIR}/${INSTALLATION_DIR}/etc/systemd/system/wazuh-wui.service 
	chmod 644 ${TARGET_DIR}/${INSTALLATION_DIR}/etc/init.d/wazuh-wui
	chmod 644 ${TARGET_DIR}/${INSTALLATION_DIR}/etc/default/wazuh-wui



	cp /tmp/certs/wazuh-wui.pem ${TARGET_DIR}/${INSTALLATION_DIR}/etc/wazuh-wui/certs/wazuh-wui.pem
	cp /tmp/certs/wazuh-wui-key.pem ${TARGET_DIR}/${INSTALLATION_DIR}/etc/wazuh-wui/certs/wazuh-wui-key.pem
	cp /tmp/certs/root-ca.pem ${TARGET_DIR}/${INSTALLATION_DIR}/etc/wazuh-wui/certs/root-ca.pem

	cp /tmp/certs/root-ca.pem ${TARGET_DIR}/${INSTALLATION_DIR}/etc/wazuh-wui/certs/root-ca.pem
	chmod 644 ${TARGET_DIR}/${INSTALLATION_DIR}/etc/wazuh-wui/certs/*

	find ${TARGET_DIR}/${INSTALLATION_DIR}/usr/share/wazuh-wui -exec chown wazuh-wui:wazuh-wui {} \;
	find ${TARGET_DIR}/${INSTALLATION_DIR}/etc/wazuh-wui -exec chown wazuh-wui:wazuh-wui {} \;

	chown wazuh-wui:wazuh-wui ${TARGET_DIR}/${INSTALLATION_DIR}/etc/systemd/system/wazuh-wui.service
	chown wazuh-wui:wazuh-wui ${TARGET_DIR}/${INSTALLATION_DIR}/etc/init.d/wazuh-wui
	chown wazuh-wui:wazuh-wui ${TARGET_DIR}/${INSTALLATION_DIR}/etc/default/wazuh-wui

	pwd 
	cd ${TARGET_DIR}/${INSTALLATION_DIR}/usr/share/wazuh-wui
	pwd
	ls -lah ${TARGET_DIR}/${INSTALLATION_DIR}/usr/share/wazuh-wui
	ls -lah ${TARGET_DIR}/${INSTALLATION_DIR}/usr/share/wazuh-wui/bin/
	sudo -u wazuh-wui bin/kibana-plugin install https://packages.wazuh.com/4.x/ui/kibana/wazuh_kibana-4.1.4_7.10.2-1.zip

	find ${TARGET_DIR}/${INSTALLATION_DIR}/usr/share/wazuh-wui/plugins/wazuh/ -exec chown wazuh-wui:wazuh-wui {} \;


override_dh_auto_clean:

override_dh_strip:
	dh_strip --no-automatic-dbgsym

.PHONY: override_dh_strip override_dh_auto_clean override_dh_auto_build override_dh_auto_configure
