# WAZUH API Service (Systemd unit)
# Wazuh Inc.
# April 11, 2016

[Unit]
Description=Wazuh API daemon
Documentation=http://wazuh-documentation.readthedocs.org/en/latest/ossec_api.html
After=network-online.target

[Service]
Type=simple
ExecStart=/usr/bin/nodejs /var/ossec/api/app.js
Environment=NODE_ENV=production

[Install]
WantedBy=multi-user.target
