[Unit]
Description=Remove vagrant

[Install]
WantedBy=multi-user.target

[Service]
ExecStart=/bin/bash /home/USER/removeVagrant.sh
Type=simple
User=root
Group=root
WorkingDirectory=/home/USER
Restart=always
RestartSec=3