name: Wazuh Packages pipeline for unattended installer testing

on:
  push:
    branches:
      - stable
      paths:
        - '.github/actions/Tests/Unattended/**'
        - '.github/actions/Docker/**'
    pull_request:
      branches:
        - stable
      paths:
        - '.github/actions/Tests/Unattended/**'
        - '.github/actions/Docker/**'

jobs:

  docker:
    runs-on: ubuntu-latest
    steps:
      -
        name: Set up QEMU
        uses: docker/setup-qemu-action@v1
      -
        name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v1
      -
        name: Login to DockerHub
        uses: docker/login-action@v1
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - 
        name: Check out code
        uses: actions/checkout@v2
      -
        name: Build and push
        id: docker_build
        uses: docker/build-push-action@v2
        with:
          push: true
          tags: wazuh/centos-7-unattended-base:latest
          context: './.github/actions/Tests/Unattended'
          file: './.github/actions/Docker/CentOS/7/Dockerfile'